{% extends "seeds/layout.html" %}

{% block body %}
    <div class="login-reg">
        <h2>Login</h2>
    
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    
        <form id="login-form" class="form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input autofocus class="form-field" type="text" name="username" placeholder="Username">
            <input class="form-field" type="password" name="password" placeholder="Password">
            <input class="form-field" type="submit" value="Login">
        </form>
    </div>
    <div class="toggle-reg-or-login">
        <h3>Need an account?</h3>
        <a href="{% url 'register' %}">Register</a>
    </div>

{% endblock %}