{% extends "seeds/layout.html" %}

{% block body %}
    <div class="login-reg">
        <h2>Register</h2>
    
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    
        <form id="registration-form" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input class="form-field" autofocus type="text" name="username" placeholder="Username">
            <input class="form-field" type="email" name="email" placeholder="Email Address">
            <input class="form-field" type="password" name="password" placeholder="Password">
            <input class="form-field" type="password" name="confirmation" placeholder="Confirm Password">
            <input class="form-field" type="submit" value="Register">
        </form>
    </div>
    <div class="toggle-reg-or-login">
        <h3>Already have an account?</h3>
        <a href="{% url 'login' %}">Log In</a>
    </div>

{% endblock %}