{% extends "seeds/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="react-root" />
        <script>var userID = "{{ user.id }}"</script>
        <script src="{% static 'seeds/build/main.js' %}"></script>
    {% else %}
        <h2 id="welcome">Welcome. Please <a href="{% url 'register' %}">register</a> or <a href="{% url 'login' %}">log in.</a></h2>
        <!-- TODO: Awesome welcome intro graphic / animation right here -->
    {% endif %}
{% endblock %}
