{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <author>Jacob Shandling</author> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"> {% endcomment %}
        <title>{% block title %}SOUNDSEEKER{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{% static 'seeds/images/favicon.ico' %}">
        <!--Facebook Meta-->
        <meta property="og:image" content="images/bg.jpg">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.jacobshandling.dev">
        <meta property="og:title" content="Jacob Shandling">
        <meta property="og:description" content="Software Development Portfolio for Jacob Shandling">
        
        <!--Twitter Meta-->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="">
        <meta name="twitter:site" content="@jksdev">
        <meta name="twitter:creator" content="@jksdev">
        <meta name="twitter:title" content="Jacob Shandling">
        <meta name="twitter:description" content="Software Engineer and Musician">
        <!-- <meta name="twitter:image:width" content="1200">
        <meta name="twitter:image:height" content="630">
        <meta name="twitter:image" content=""> -->

        <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> -->

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'seeds/styles.css' %}" />

        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div id="app-wrapper">
            <nav>
                <header><a id="navbar-title" href="{% url 'index' %}">SoundSeeker</a></header>
                <ul id="main-nav" class="nav-items">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">register</a>
                    </li>
                {% endif %}
                </ul>
            </nav>
            <div id="block-body">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <footer>
            <p>Created by <a href="https://dev.jakeshandling.com" target="_blank">Jacob Shandling</a> 2022</p>
            {% if not user.is_authenticated %}
                <ul id="footer-nav-links" class="nav-items">
                    <li id="donate-button-container" class="footer-nav-link">
                        <a href="https://www.paypal.com/donate/?hosted_button_id=HYL8EJJAFCWAG" id="donate-link" target="-blank">Donate</a>
                    </li>
                    <li class="footer-nav-link">
                        <a href="https://github.com/jacobshandling/soundseeker" id="source-link" target="_blank">Source</a>
                    </li>
                    <li class="footer-nav-link">
                        <a href="https://youtu.be/_Qm0abmDYak" id="demo-link" target="_blank">Demo</a>
                    </li>
                </ul>
            {% endif %}
        </footer>
    </body>
</html>