/* see https://www.youtube.com/watch?v=IF6k0uZuypA */

:root {
    --bg: #ffffff;
    --bg-accent: #19355f;
    --text-color: black;
    --main-size: 32px;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;

}

body {
    border: solid;
    border-radius: 24px;
    margin: 25px;
    padding: 20px;
    /* padding-bottom: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: calc(var(--main-size) * 0.8);
}

nav {
    width: 20%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    padding-left: 0;
}

nav li {
    margin: 20px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

main ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.suite-level-view,
.suite-list,
.blob-level-view,
.blob-list,
.audioclip-level-view {
        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;
    }

.listed-audioclip {
    display: inherit;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#react-root {
    width: 100%;
}

#app {
    width: 100%;
}
#actionbar {
    width: 100%;
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    display: flex;
    justify-content: flex-end;
}

#actionbar-actions {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.action-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #b8bdc4;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;

}

.icon-button:hover {
    filter: brightness(1.2);
}

.icon-button:not(:active) {
    animation-name: rotate-plus-icon;
    animation-duration: 250ms;
}

@keyframes rotate-plus-icon {
    100% {
        transform: rotate(-90deg);
    }
}

/* style svgs passed into icon buttons. They don't inherit size by default, so set fixed width and height here */
.icon-button svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
}
/* Dropdown Menu */
.dropdown {
    position: absolute;
    top: 150px;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;

}

.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item:hover {
    background-color: #c0c1c9;
}

.icon-right {
    margin-left: auto;
}

.fileupload {
    height: var(--main-size);
    display: flex;
    align-items: center;

}

.upload-field {
    padding: 20px;
}

.blob-select-checkbox {
    margin-left: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }