/* see https://www.youtube.com/watch?v=IF6k0uZuypA */

:root {
    --bg: #ffffff;
    --bg-accent: #19355f;
    --text-color: black;
    --link-hover-color: rgb(126	96	131); 
    --border: 0.03rem solid #474a4d;
    --border-radius: 0.4rem;
    --speed: 500ms;
    --menu-item-font-size: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

html {
    font-size: 5vmin;
    font-family: "Gill Sans", sans-serif;
}

body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 1rem;
    height: auto;
    width: auto;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 0.7rem;
    height: auto;
    width: auto;
}

h4 {
    font-size: 0.5rem;
}


p {
    font-size: 0.5rem;
}

a {
    color: var(--text-color);
    text-decoration: none;
    height: auto;
    width: auto;
}

a:hover {
    color: var(--link-hover-color)
}

#app-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--border);
    border-radius: var(--border-radius);
}

nav {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


header {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

header:after {
    content: "";
    position: absolute;
    background: #474a4d;
    width: 0.03rem;
    height: 1.4rem;
    margin-right: -0.5rem;
}

#nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.nav-item {
    height: auto;
    width: auto;
}

.nav-link {
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#block-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#welcome {
    position: fixed;
    top: 50%;
    max-width: 100%;
}

.login-reg {
    max-width: 10rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.toggle-reg-or-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#react-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-view {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    gap: 1rem;
    max-height: 85%;
}

.content-list {
    /* height: 75%; */
    overflow-y: scroll;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    flex-wrap: wrap;

}

.content-list li {
    height: auto;
    width: auto;
}

.listed-content {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

audio {
    width: 7rem;
}


/* Action Items */

#actionbar {
    height: 1rem;
    padding-bottom: .5rem;
    /* background-color: var(--bg); */
    border-bottom: var(--border);
    display: flex;
    justify-content: flex-end;
}

#actionbar-actions {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

.action-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #b8bdc4;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;

}

.icon-button:hover {
    filter: brightness(1.2);
}

.icon-button:not(:active) {
    animation-name: rotate-plus-icon;
    animation-duration: 250ms;
}

@keyframes rotate-plus-icon {
    100% {
        transform: rotate(-90deg);
    }
}

/* style svgs passed into icon buttons. They don't inherit size by default, so set fixed width and height here */
.icon-button svg {
    fill: var(--text-color);
    width: .5rem;
    height: .5rem;
}
/* Dropdown Menu */

.dropdown {
    position: absolute;
    top: 7.2rem;
    right: 2.75rem;
    height: auto;
    width: auto;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: .15rem;
    overflow: hidden;
}

.menu-item {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item > * {
    font-size: var(--menu-item-font-size);
}

.menu-item:hover {
    background-color: #c0c1c9;
}

.icon-right {
    margin-left: auto;
}


/* Registration; Login; Clip, Blob, and Suite Creation; */

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    flex-wrap: wrap;

}

.form-field {
    height: 1rem;
    padding: .2rem;
}

.select-checkbox {
    height: .5rem;
    width: .5rem;
    /* margin-left: 0.625rem; */
    /* min-height: 1.25rem;
    min-width: 1.25rem; */
}

legend {
    font-size: .7rem;
}

label {
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    gap: .2rem;
  }