:root {
    --bg-main: white;
    --bg-alt: rgb(244 246 250); /* light gray */
    --text-color: rgb(104 105 245); /* bright-purple */
    --text-accent-color: rgb(226 91	86);  /* pink-orange */
    --link-hover-color: rgb(255	196	57); 
    --button-size: 3rem;
    --border: 0.03rem solid #474a4d;
    --structure-br: 2%;
    --content-br: 50%;
    --speed: 500ms;
    --menu-item-font-size: 1rem;
    --alert-font-size: .4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;    
    width: 100%;
}

body {
    font-size: 16px;
    font-family: "Gill Sans", sans-serif;
    background-color: var(--bg-main);
    color: var(--text-color);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#intro {
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5rem;
}

#intro * {
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

#app-wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.navbar-toggler {
    padding: 6px;
}

.display-1 {
    font-size: 3rem;
}

.display-2 {
    font-size: 2.2rem;
}

h2 {
    /* font-size: 1rem; */
    height: auto;
    width: auto;
    text-align: center;
}

h3 {
    text-align: center;
    /* font-size: 0.7rem; */
    height: auto;
    width: auto;
}

h4 {
    /* font-size: 0.5rem; */
}


p {
    /* font-size: 0.5rem; */
}

a {
    color: var(--text-color);
    text-decoration: none;
    height: auto;
    width: auto;
}

a:hover {
    color: var(--link-hover-color)
}

button {
    padding: .3rem;
    height: auto;
    width: auto;
    border-radius: var(--structure-br);
    background-color: var(--bg-alt);
}

nav {
    height: auto;
    gap: 1rem;
}


#navbar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    color: var(--text-accent-color);
}

header:after {
    content: "";
    position: absolute;
    background: #474a4d;
    width: 0.03rem;
    height: 1.4rem;
    margin-right: -0.5rem;

}

#block-body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-credit {
    color: var(--text-accent-color);
}

footer ul {
    display: flex;
    gap: 1rem;
}

footer * {
    height: auto;
    width: auto;
    padding: 0;
    margin: .1rem;
    color: black;
}

#nav-links {
    width: auto;
    flex-grow: 0;
}

#main-nav {
    width: auto;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.nav-link {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem; 
}

.toggle-reg-or-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#react-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .4rem;
}

.content-view {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    gap: 1rem;
    max-height: 85%;
}

.content-list {
    padding-top: .5rem;
    overflow: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;

}

.content-list > li {
    height: auto;
    width: auto;
}

audio {
    width: 4rem;
}


/* Action Bar and Items */

#action-bar {
    height: auto;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    justify-content: space-around;
    border-bottom: var(--border);
}

#app-nav {
    display: flex;
    gap: 2rem;
}

.action-item {
    width: auto;
    height: auto;
    margin-right: 1rem;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--bg-alt);
    border-radius: 50%;
    padding: .7rem;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;

}

.icon-button:hover {
    filter: brightness(1.2);
}

.icon-button:not(:active) {
    animation-name: rotate-plus-icon;
    animation-duration: 250ms;
}

@keyframes rotate-plus-icon {
    100% {
        transform: rotate(-90deg);
    }
}

/* style svgs passed into icon buttons. They don't inherit size by default, so set fixed width and height here */
.icon-button svg {
    fill: var(--text-color);
    width: auto;
    height: auto;
}


/* Dropdown Menu */

.dropdown {
    position: absolute;
    top: 12.5rem;
    right: 0rem;
    height: auto;
    width: auto;
    transform: translateX(-45%);
    background-color: var(--bg-alt);
    border: var(--border);
    border-radius: var(--structure-br);
    padding: .15rem;
    overflow: hidden;
    
}

.menu-item {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--structure-br);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item:hover {
    background-color: var(--bg-alt);
}

.icon-right {
    margin-left: auto;
}


/* Registration; Login; Clip, Blob, and Suite Creation and Editing; */

.action-view {
    max-width: 24rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.association-options * {
    margin: .5rem;
    height: auto;
    width: auto;
}

legend {
    /* font-size: .5rem; */
    height: auto;
    width: auto;
}

label {
    height: auto;
    width: auto;
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    font-size: 1rem;
  }

.MuiAlert-filled {
    height: 1.2rem;
    width: 60%;
    align-items: center;
    justify-content: center;
    
}

.MuiAlert-filled * {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: var(--alert-font-size); */
}

audio {
    height: auto;
    width: auto;
    max-width: 10rem;
    border-radius: .375rem;
}

